<div class="container">
<% #debugger%>

<div class="jumbotron">
<h1><%= @album.name %></h1>


</div>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Edit Photo: <%= @photo.title %></div>
  <div class="panel-body">
<%= form_for :photo, :url => user_album_photo_path, :method => 'put' do |f| %>
	<div class="input-group">
	<%= f.text_field :title, placeholder: 'New Title', class: "form-control" %></div><br>
	<div class="input-group">
	<b>Attach photo </b>
	<%= f.file_field :image, class: "btn btn-default btn-sm" %><br>
	<%= f.submit :submit, class: "btn btn-success btn-lg"%>
	</div>
	<%end%>
	</div>
	</div>
	</div>