<div class="container">
<ol class="breadcrumb">
  <li><a href="<%= user_albums_path %>">Home</a></li>
  <li><a href="<%= user_album_path(@user.id,@album.id) %>"><%= @album.name %></a></li>
  <li class="active">Add Photo</li>
</ol>
<div class="jumbotron">
<h1><%= @album.name %></h1>
<p>ADD PHOTO</p>

</div>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Add New Photo</div>
  <div class="panel-body">

<%= form_for :photo, :url => user_album_photos_path, :method => :post, :html => { :multipart => true } do |f| %>
<div class="input-group">	
	<%= f.text_field :title, placeholder: 'Title', class: "form-control" %></div><br>
	<p class="input-group"><b>Attach photo</b> 
	<%= f.file_field :image, class: "btn btn-default btn-sm" %><br>
	<%# fields_for :tags do |fa|%>
		<%= f.label :tags %> 
	<%= f.text_field :tags_attributes, class: "form-control" %><%#end%></p><br>
	<%= f.submit :submit, class: "btn btn-warning btn-lg", role: "button"%>

	<%end%>
	</div>

</div>
</div>