<!DOCTYPE html>
<html>
<head>
  <title>K-Album</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="nav">
  <div class="navbar-inner">
  <div class="container">
 
  <% if current_user %>
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand pull-left">KALBUM</span>
      </div>
   
 

                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                              <% if params[:action]=="index" %>
                                          <% if params[:controller]=="albums"%>
                                                      <li class="active"><%= link_to user_albums_path(current_user.id) do%>
                                                      <span>HOME</span> <i class="glyphicon glyphicon-home"></i>
                                                      <%end%>
                                                      </li>
                                                      <li id="btn-back"><%= link_to tags_path, id: "txt" do%>
                                                      <span>TAGS</span> <i class="glyphicon glyphicon-tags"></i>
                                                      <%end%>
                                                      </li>
                                          <%else%>
                                                      <li id="btn-back"><%= link_to user_albums_path(current_user.id), id: "txt" do%>
                                                      <span>HOME</span> <i class="glyphicon glyphicon-home"></i>
                                                      <%end%>
                                                      </li>
                                                      <li class="active"><%= link_to tags_path, id: "txt" do%>
                                                      <span>TAGS</span> <i class="glyphicon glyphicon-tags"></i>
                                                      <%end%>
                                                      </li>  
                                          <%end%>
                              <%else%>
                                        <li id="btn-back"><%= link_to user_albums_path(current_user.id), id: "txt" do%>
                                                      <span>HOME</span> <i class="glyphicon glyphicon-home"></i>
                                                      <%end%>
                                                      </li>
                                        <li id="btn-back"><%= link_to tags_path, id: "txt" do%>
                                                      <span>TAGS</span> <i class="glyphicon glyphicon-tags"></i>
                                                      <%end%>
                                                      </li>
                              <%end%>
                </ul>
                      

                      <ul class="nav navbar-nav navbar-right">

                                  <li class="dropdown">
                                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= image_tag current_user.avatar_url, class: "img-small" %> <span id="txt"><%= current_user.email %></span> <span class="caret"></span></a>
                                                                 <ul class="dropdown-menu">
                                                                  <li>
                                                                    
                                                                    <%= link_to destroy_user_session_path, :method => :delete  do %>
                                                                    <i class="glyphicon glyphicon-off"></i> Logout
                                                                    <%end%>
                                                                  </li>

                                                                  <li role="separator" class="divider"></li>
                                                                  <li><a href="#">About</a></li>
                                                                  </ul>
                                  </li>
                      </ul>

                </div>
 <% else %>
                                <div class="navbar-header">
                                      <a class="navbar-brand navbar-text navbar-left" href="#" id="txt">
                                      	Login/Signup      	
                                      </a>
                                      </div>
  <%end%>
</div>
</div>
</nav>

</head>
 
<body data-spy="scroll" data-target=".board" data-offset="50">

<%= yield %>

</body>
<nav class="navbar navbar-inverse navbar-static-bottom" id="bottom-nav">
  <div class="navbar-inner">
  <div class="container">
<div class="navbar-text pull-left"><b>KALBUM<i class="glyphicon glyphicon-registration-mark"></i></b></div>
<div class="navbar-text pull-right"><b>BY <i class="glyphicon glyphicon-registration-mark"></i></b></div>
  </div>
  </div>
  </nav>
</html>
